.features{
      display :flex;
      // text-align: center;
      flex-direction: column;
      padding-top:5rem;
      padding-left:1rem;
      margin-left:4rem;
      margin-right:4rem;
      // max-width:60vw;
      justify-content: center !important;
      align-items:  center !important;

      @include breakpoint-down(small) {
        margin-left:0rem !important;;
        margin-right:0rem;
        padding-top: 0rem;

    }

     

}

.feature {
    text-align: center;

    @include breakpoint-up(medium) {
        text-align: center;
    }


    // &__container {
    //   display :flex;
    //   flex-direction: column;
    //   padding-left:1rem;
    //   max-width:60vw;
    //   justify-content: center;
    //   align-items:  center;
    // }

    &__grid {

        @include breakpoint-up(medium) {
            display: flex;
            flex-wrap: wrap;
        }
    }

    &__item {
        padding: 0.9375rem;


        @include breakpoint-up(medium) {
            flex: 0 0 50%;
             
        }

        @include breakpoint-up(large) {
            flex: 1;
        }
    }

    &__icon {
        margin-bottom: 0.875rem;


        @include breakpoint-up(large) {
        margin-bottom: 0.875rem;
        }
    }

    &__title {
        font-size: 1.25rem;
        font-weight: 500;
        line-height: 1.15;
        color: $darkBlue;
        margin-bottom: 0.5rem;

        @include breakpoint-up(large) {
            font-size: 1.5rem;
          margin-bottom: 0.5rem;
        }
    }

    &__description {
        font-size: 0.875rem;
        line-height: 1.5;
        max-width:28rem;
        min-width:15rem;
    }
}


.fa,
.fas {
    font-size: large;
    padding-left:0.1rem;
    color:#6B0772;

}

.fa-clock:before {
    font-size: larger;
    padding-left:0.1rem;
    color:#6B0772;

}

