.main {


    @include breakpoint-up(medium) {

        display: flex;

        &__image {
            // position: relative;

            background-image: url('./Assets/main-image.jpg');
            background-size: cover;
            background-repeat: no-repeat;
            background-position: top;
            min-height: 100vh;
            width: 65vw;
            top: 0;
            overflow: hidden;
            order: 2;
            clip-path: polygon(13% 0, 100% 0%, 100% 99%, 0 99%);
            // z-index:100


        }
    }



    &__text {

        // text-align:center;



        &_1 {
            font-size: 3rem;
            font-weight: 800;
            background: -webkit-linear-gradient(left, #E65C9C, #6B0772);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            line-height: 1;
            margin-bottom: 5px;
            margin-left: 16rem;

            @include breakpoint-down(large) {
                margin-left: 10rem;

            }

            @include breakpoint-down(medium) {
                margin-left: 0rem;

            }

            @include breakpoint-down(small) {
                margin-left: 0rem;
                font-size: 2.2rem;
            }

        }

        &_2 {
            font-size: 3rem;
            font-weight: 800;
            color: grey !important;
            margin-left: 16rem;

            @include breakpoint-down(large) {
                margin-left: 10rem;

            }

            @include breakpoint-down(medium) {
                margin-left: 0rem;

            }

            @include breakpoint-down(small) {
                margin-left: 0rem;
                font-size: 2.2rem;

            }

        }


        p {
            width: 23rem;
            line-height: 1.8;
            font-size: $font-sm;
            font-weight: 500;
            margin-left: 16rem;

            @include breakpoint-down(large) {
                margin-left: 10rem;

            }

            @include breakpoint-down(medium) {
                margin-left: 0rem;

            }

            @include breakpoint-down(small) {
                margin-left: 0rem;
                width: 18rem;
            }

        }

    }

    &__cta {
        margin-right: 1rem;
    }
}