// Colors
$darkBlue: hsl(233, 26%, 24%);
$grayishBlue: hsl(233, 8%, 62%);
$white: hsl(0, 0%, 100%);

// Font Sizes
$font-sm: 0.875rem; // 14px
$font-med: 1.125rem; // 18px
$font-lg: 1.25rem;
$font-xlg: 3.25rem;


//widths for cards

$card-width:300px;
$card-border_radius:10px;
$row-increment:10px;
$card-small:26;
$card-small2:29;
$card-medium:33;
$card-medium2:37;
$card-large:40;


